/*local css*/

/* header css */
.header-top-container {
    display: none;
}
.nav-regular a span {
    font-family: PT_Serif-Web-Regular;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
}
.header .logo-wrapper .logo {
    margin: 3px 0 0 -15px;
}
.header-container .hp-blocks-holder .hp-block {
    vertical-align: top !important;
}
.header-container .nav-container.simple .nav {
    margin-top: -5px;
}
.footer-top {
    display: none;
}
.footer-bottom-container {
    display: none;
}
ul.bullet li {
    background: none;
    padding-left: 0px;
}	

/* user menu header css */
.custom_links {
    float: right;
    width: 30%;
    padding-top: 6px;
    margin-left: 10px;
    margin-right: 6px;
	
}
.custom {
    width: 50%;
    display: inline-block;
    font-size: 22px;
}
div#user-menu-wrapper-regular {
    border-bottom: 1px solid;
    height: 52px;
    margin-left: -10px;
	margin-top: -5px;
    }
.user-menu {
     padding-top: 5px;
}
@media (max-width: 768px){
	.custom_links{display:none;}
.custom-category .cap.cap-bottom-left a {
    padding: 4px 5px !important;
    margin-right: 1% !important;
  }
  .cap-push-up-20 {
    bottom: 0% !important;
  }
.cap-push-left-20 {
    right: 7% !important;
  }
.custm-cap {
    padding: 5px !important;
  }
  .ic-search img {
    padding-top: 0px !important;
    margin-top: 0px;
	width: 24px;
  }
  .custom_account img {
    width: 22px;
    padding-top: 0px;
    margin-top: -2px;
  }
}
.wishlist img {
    padding-top: 4px;
    width: 25px;
}
.custm-minicart img {
    width: 20px;
    padding-bottom: 4.5px;
}
.custom_account img {
    width: 25px;
    padding-top: 2px;
}
.block-search img {
    height: 27px;
    padding-top: 7px;
    padding-left: 14px;
}
.header-regular .block-search.expanding {
    padding-top: 1px;
}
.header-regular .block-search.expanding .input-text {
    padding-left: 1px;
    border: none;
}

/* Slider */
.cap-text-bg-light-1 .text {
    color: #fff;
    font-family: Snell-Roundhand-Bold-Script;
    font-weight: 100;
    border: 1px solid #fff;
	font-size: 30px;
    letter-spacing: 2px;
}
a:hover .cap-text-bg-light-1 .text {
    background-color: rgba(255,255,255,0.35);
    color: #fff;
}

/* product slider */
.product-item-info a.product-item-link {
    font-family: PT_Serif-Web-Regular;
    font-size: 18px;
}
.cute_grid.feature_product h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cute_grid.feature_product h2:before, .cute_grid.feature_product h2:after {
    content: '';
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.cute_grid.feature_product h2:after {
    margin: 0 0 0 20px;
}
.itemslider .block-title{
padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}
/* end */
.custom-category .cap-push-right-10 {
    left: 0%;
    width: 100%;
    /* right: auto; */
    text-align: center;
}
.custom-category .cap.cap-bottom-left a {
    padding: 4px 35px;
    border: 0.5px solid #fff;
    color: #fff;
    margin-right: 2%;
    background-color: rgba(118, 118, 118, 0.4);
}
.custom-category .clothing {
    margin-bottom: 20px;
}
.custom-category .cap.cap-bottom-left.set_inner a {
    font-size: 28px;
    font-family: PT_Serif-Web-Regular;
    letter-spacing: 2px;
}
.insta_top h4 {
    font-family: PT_Serif-Web-Regular;
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
}
.insta_top p {
    font-family: PT_Serif-Web-Regular;
    font-size: 18px;
}
h2.custm-cap {
    font-family: PT_Serif-Web-Regular;
    letter-spacing: 2px;
	font-size: 22px;
}
.news {
    padding: 60px 0;
}
.news h4 {
    text-align: center;
    font-family: PT_Serif-Web-Regular;
    letter-spacing: 3px;
    color: #000;
}
.news p {
    text-align: center;
    font-family: PT_Serif-Web-Regular;
    font-size: 18px;
}
.subs {
    border-top: 1px solid black;
    margin-top: 40px;
    border-bottom: 1px solid black;
}
.korting {
    padding: 11px 0;
    border: 1px solid;
    margin: 30px 0px;
}
.korting h3 {
    text-align: center;
    margin-bottom: 0!important;
    font-family: PT_Serif-Web-Regular;
}
.footer .heading {
    font-family: PT_Serif-Web-Regular;
    font-weight: 400;
}
ul.bullet li {
    font-family: PT_Serif-Web-Regular;
    font-size: 16px;
	padding-bottom: 5px;
}
.footer-bottom-container, p {
    font-family: PT_Serif-Web-Regular;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}
.social_grid {
    margin-top: 30px;
}
.social_grid h4 {
    text-align: center;
}
.social_grid p {
    text-align: center;
    margin-bottom: 3rem!important;
}
.image_insta.col-md-3 {
    padding-bottom: 10px;
}
.custm-cap {
    padding: 10px;
    border: 0.5px solid #fff;
    color: #fff;
    background-color: rgba(118, 118, 118, 0.4);
}

/* mobile css */
.ic-search:before {
    content: "\e235";
	display:none;
}
.ic-user:before {
    content: "\e230";
	display:none;
}
/* end */